* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 40px;
  font-family: sans-serif;
}

.grid {
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.grid div {
  background-color: aquamarine;
  min-height: 100px;
}

.grid div:nth-child(5) {
  background-color: darkcyan;
}

/* @media (max-width: 768px) {
  .grid div:nth-child(5) {
  grid-column: span 1;
}
} */