
html, body {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

/* .pai {
  font-size: 50px;
} */


/* p {
  font-size: 3em;
} */

/* .pai {
  width: 20rem;
  height: 20rem;
  background-color: aqua;
} */

.pai {
  height: 100vh;
  width: 50rem;
  background: aqua;
}

.pai > div{
  height: 250px;
  width: 50%;
  background: rgb(13, 0, 255);
}

p {
  font-size: 2vmax;
}

.color-one {
  background: blueviolet;
}

.color-two {
  background: rgb(43, 67, 226);
}
