* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 40px;
  font-family: sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 30px;
}

.grid div {
  background-color: aquamarine;
}