* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 40px;
  font-family: sans-serif;
}

.grid {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: 2fr 1fr;
  gap: 30px;
}
/* 
.grid {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
} */

.grid div {
  background-color: aquamarine;
}

.grid div:nth-child(5) {
  grid-column-start: 2;
  grid-column-end: 4;
}